.projects-scheme {
  background: var(--color-celeste);
  color: var(--color-midnight);
}

.projects-main {
  display: block;
  margin-inline: auto;
  margin-top: 6rem;
}

.projects {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card {
  margin-top: 3rem;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  background: var(--color-lionsmane);
  color: var(--color-midnight);
  border-radius: var(--global-border-radius);
  padding: 1.2rem;
  gap: 1.5rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 20px;
  box-shadow: -2px 15px 6px 0px rgba(0, 0, 0, 0.03);
}

.card:hover {
  transform: scale(1.1);
}

.home-cards {
  background: var(--color-lavender);
  color: var(--color-obsidian);
}

.card:first-child {
  margin-top: 0;
}

.card__image-container {
  aspect-ratio: 3/1;
  overflow: hidden;
  margin: 0;
  flex-basis: 30%;
  border-radius: 0.4rem;
}

.card__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 0.3rem;
}

.card__info-title {
  margin-top: 0;
}

.card__info-title a:hover {
  color: var(--color-cherry);
}

.card__info-title a {
  color: inherit;
  text-decoration: none;
}

.card__info-description {
  margin-top: 0;
  cursor: default;
}

.card__links {
  display: flex;
  gap: 1rem;
}

.card__links a {
  color: inherit;
  text-decoration: none;
  font-size: 0.8333rem;
}

@media screen and (min-width: 568px) {
  .card__links a {
    font-size: 1rem;
  }
}

.card__links span {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

@media screen and (min-width: 53em) {
  .projects-main {
    max-width: 1080px;
  }

  .projects {
    margin-top: 0;
  }

  .homepage-projects {
    margin-top: -5rem;
  }

  .card {
    flex-direction: row;
  }

  .card__image-container {
    aspect-ratio: 4/3;
  }

}
