body {
  padding: var(--body-horizontal-padding-sm);
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

header {
  position: fixed;
  max-width: var(--global-max-width);
  /* width: calc(100vw - var(--body-horizontal-padding-sm)*2); */
  width: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 2.5rem;
  background: inherit;
  padding-block: 1rem;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding-inline-start: 0;
  padding-inline: 1rem;
}

/* @media screen and (max-width: 357px) {
  header {
    background: none;
  }
} */

.nav__list-item a {
  text-decoration: none;
  color: inherit;
  font-weight: var(--fw-bold);
}

img {
  max-width: 100%;
  height: auto;
}
