/* Variables */
:root {
  --body-horizontal-padding-sm: 1rem;
  --body-horizontal-padding-lg: 2.4rem;
  --global-max-width: 1440px;
}

img {
  max-width: 100%;
  height: auto;
}


/* General styles*/

body {
  padding: var(--body-horizontal-padding-sm);
  margin: 0;
}

header {
  position: fixed;
  max-width: var(--global-max-width);
  width: calc(100vw - var(--body-horizontal-padding-sm)*2);
  left: 50%;
  /* top: 0; */
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 2.5rem;
  background: rgba(250, 239, 255, 0.8);
  backdrop-filter: blur(6px);
}

.header-wrap {
  position: fixed;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding-inline-start: 0;
  padding-inline: 1rem;
}

.nav__list-item a {
  text-decoration: none;
}

main {
  margin-top: 6rem;
  max-width: var(--global-max-width);
  margin-inline: auto;
}

/* .home {} */

/* .home__about {} */

.home__about-title {
  font-size: 4rem;
  margin: 0;
}

.projects {
  margin-top: 4rem;
}

.card:first-child {
  margin-top: 0;
}

.card {
  margin-top: 2rem;
  width: 80%;
}

.card__image-container {
  aspect-ratio: 3/1;
  overflow: hidden;
  margin: 0;
}

.card__image {
  width: 100%;
  object-fit: cover;
}

/* Media Queries*/

@media screen and (min-width: 53em) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10rem;
  }

  .fixed {
    position: fixed;
  }

  .projects {
    margin-top: 0;
  }
}

/* Utilities*/
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
